---
import Layout from '~/layouts/LandingLayoutServices.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';
import Prices from '~/components/widgets/Pricing.astro';
import ContactUs from '~/components/widgets/ContactForm.astro';
import Button from '~/components/ui/Button.astro';

import HeroImagen from '~/assets/images/datacenter.jpg';
import FondoVideo from "~/layouts/FondoVideo.astro";

const metadata = {
  title: 'Soluciones de Hosting y Servidores VPS - Neighbour Technology',
  ignoreTitleTemplate: true
};
---
<FondoVideo src="/videos/codigo_verde.mp4" />

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->
  <Hero2
    tagline="Hosting y Servidores VPS a la Medida"
    title="Soluciones de Hosting y Servidores VPS Personalizados"
    subtitle="Ofrecemos servicios de hosting confiables y servidores VPS de alto rendimiento con opciones de administración de correos y soluciones de datacenter."
    image={{
      src: HeroImagen,
      alt: 'Servicios de Hosting y VPS',
    }}
  >
 
    <Fragment slot="boton">
      <button class="open-modal-btn px-8 py-3 rounded-lg bg-gradient-to-r from-blue-500 to-purple-600 hover:from-blue-600 hover:to-purple-700 transition duration-300 text-white shadow-lg">
        Cotiza tu Plan
      </button>
      <Button variant='whatsapp',
      text='Chatea con un Asesor',
      phone='56963238857'></Button>
    </Fragment>
  </Hero2>

  <!-- Features2 Widget ************** -->
  <Features2
 
    title="Nuestros Servicios de Hosting y VPS"
    subtitle="Planes flexibles para alojar tu sitio web o implementar servidores VPS personalizados con infraestructura de datacenter segura y escalable."
  />
  
  <!-- Stats Widget ****************** -->
  <Stats
    classes={{
      container: 'stat-container bg-dark bg-opacity-70 my-10',
    }}
    title="Resultados de Nuestros Servicios"
    subtitle="Descubre el impacto de nuestras soluciones de hosting y servidores VPS en nuestros clientes."
    stats={[
      { title: 'Sitios Web Hospedados', amount: '350', symbol: '+' },
      { title: 'Servidores VPS Implementados', amount: '300', symbol: '+' },
      { title: 'Clientes Satisfechos', amount: '250', symbol: '+' },
      { title: 'Uptime Garantizado', amount: '99', symbol: '%' },
    ]}
  />

  <!-- Features Widget *************** -->
  <Features
    id="features"
    title="Características de Nuestros Servicios"
    subtitle="Brindamos soluciones de hosting y VPS con opciones de administración, seguridad y escalabilidad."
    columns={3}
    items={[
      { title: 'Hosting Seguro y Rápido', description: 'Aseguramos disponibilidad, velocidad y seguridad para tu sitio web.', icon: 'tabler:shield-check' },
      { title: 'Servidores VPS Personalizados', description: 'Configuraciones a medida con acceso a recursos dedicados.', icon: 'tabler:cpu' },
      { title: 'Soporte Técnico 24/7', description: 'Especialistas disponibles para resolver cualquier incidencia.', icon: 'tabler:headset' },
    ]}
  />

  <Prices
    title="Hosting Planes"
    subtitle="Elige el plan que mejor se adapte a tu proyecto"
    prices={[
      {
        title: 'Hosting Estándar', price: '8.568', period: 'Mensual Iva incluido',
        items: [
            {
                description:'3x AMD Ryzen 9',
            },
            {
                description: '8GB de RAM', 
            },
            {
                description: '10GB SSD', 
            },
            {
                description:'Cuentas de correo 10'
            },
            {
                description:'Velocidad I/O 40MB/s', 
            },
            {
              description:"MySQL/MariaDB - PHP 5.3 a 8.2"
            }
          
        ],
        callToAction: { text: 'Solicitar', href: '#' },
        hasRibbon: false, ribbonTitle: 'Más Popular'
      },
      {
        title: 'Hosting Estándar', price: '17.136', period: 'Mensual Iva incluido',
        items: [
            {
                description:'5x AMD Ryzen 9',
            },
            {
                description: '16GB de RAM', 
            },
            {
                description: '30GB SSD', 
            },
            {
                description:'Cuentas de correo 50'
            },
            {
                description:'Velocidad I/O 100MB/s', 
            },
            {
                description:'MySQL/MariaDB - PHP 5.3 a 8.2'
            },
            {
                description:'Conexion Internacional 10Gbps'
            },
        ],
        callToAction: { text: 'Solicitar', href: '#' },
        hasRibbon: true, ribbonTitle: 'Más Popular'
      },
      {
        title: 'Hosting Premium', price: '23.562', period: 'Mensual Iva incluido',
        items: [
            {
                description:'6x AMD Ryzen 9',
            },
            {
                description: '16GB de RAM', 
            },
            {
                description: '50GB SSD', 
            },
            {
                description:'Cuentas de correo 100'
            },
            {
                description:'Velocidad I/O 200MB/s', 
            },
            {
                description:'MySQL/MariaDB - PHP 5.3 a 8.2'
            },
            {
                description:'Conexion Internacional 10Gbps'
            },
            {
                description:'Correos Por Hora 1000'
            },
            {
                description:'Transferencia Mensual: Sin Limites'
            }
        ],
        callToAction: { text: 'Solicitar', href: '#' },
      },
    ]}
  />
  
  <Prices
    title="VPS Planes"
    subtitle="Elige el plan que mejor se adapte a tu proyecto"
    prices={[
      {
        title: 'VPS Básico', price: '49.500', period: 'Mensual Iva incluido',
        items: [
            {
                description:'Xeon 2CPU @ 2.6 GHz',
            },
            {
                description: '4GB RAM', 
            },
            {
                description: '60GB SSD', 
            },
            {
                description:'Trafico Ilimitado', 
            },
           
        ],
        callToAction: { text: 'Solicitar', href: '#' },
      },
      {
        title: 'VPS Estándar', price: '89.000', period: 'Mensual Iva incluido',
        items: [
            {
                description:'Xeon 4CPU @ 2.6 GHz',
            },
            {
                description: '8GB de RAM', 
            },
            {
                description: '80GB SSD', 
            },
            {
                description:'Transferencia Ilimitada', 
            },
            {
                description:'Soporte avanzado'
            }
        ],
        callToAction: { text: 'Solicitar', href: '#' },
        hasRibbon: true, ribbonTitle: 'Más Popular'
      },
      {
        title: 'VPS Premium', price: '149.800', period: 'Mensual Iva incluido',
        items: [
        {
                description:'Xeon 6CPU @ 2.6 GHz',
            },
            {
                description: '16GB RAM', 
            },
            {
                description: '120GB SSD', 
            },
            {
                description:'Transferencia Ilimitada', 
            },
            {
                description:'Soporte avanzado'
            },
            {
                description:'Monitoreo continuo'
            }
        ],
        callToAction: { text: 'Solicitar', href: '#' },
      },
    ]}
  />


  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Solicita tu Plan',
        href: 'https://wa.me/56963238857?text=Quiero%20solicitar%20un%20plan%20de%20hosting%20o%20VPS',
        icon: 'tabler:message-circle',
      },
    ]}
  >
    <Fragment slot="title">
      ¡Potencia tu Negocio con <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Neighbour Technology!</span>
    </Fragment>

    <Fragment slot="subtitle">
      Contacta con nosotros para más información sobre nuestros servicios y soluciones tecnológicas.
    </Fragment>
  </CallToAction>

  <FAQs
    title="Preguntas Frecuentes"
    
    items={[
      { title: '¿Qué diferencia hay entre hosting y VPS?', description: 'El hosting es compartido, mientras que el VPS ofrece recursos dedicados.' },
      { title: '¿Cómo puedo escalar mi plan?', description: 'Nuestros planes permiten aumentar recursos sin interrupciones.' },
      { title: '¿Ofrecen seguridad avanzada?', description: 'Sí, con firewalls, certificados SSL y monitoreo constante.' },
      { title: '¿Brindan soporte técnico?', description: 'Sí, ofrecemos soporte 24/7 para hosting y VPS.' },
    ]}
  >
   
  </FAQs>
</Layout>
