---
import Layout from '~/layouts/LandingLayoutServices.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Card from '~/components/widgets/Card.astro';
import Content from '~/components/widgets/Content.astro';
import HeroImagen from '~/assets/images/web-development.jpg';
import Headline from '~/components/ui/Headline.astro';

import ContactUs from '~/components/widgets/ContactForm.astro';
import Button from '~/components/ui/Button.astro';



import MallorcaHogar from '~/assets/images/MallorcaHogar.jpeg';
import AloAbogados from '~/assets/images/AloAbogados.jpeg';
import AsesoriaDefensaDeudas from '~/assets/images/AsesoriaDefensaDeudas.jpeg';
import PatagoniaInsular from '~/assets/images/PatagoniaInsular.png';
import SunEnergyGreen from '~/assets/images/SunEnergyGreen.png';
import VozPublica from '~/assets/images/VozPublica.png';

import Herederos from '~/assets/images/Herederos.png';
import MundoPacifico from '~/assets/images/MundoPacifico.png';
import Wom from '~/assets/images/Wom.png';
import TrustMarket from '~/assets/images/TrustMarket.png';
import PuntoMX from '~/assets/images/PuntoMX.png';
import DPyAsociados from '~/assets/images/DPyAsociados.png';
import Grudinor from '~/assets/images/Grudinor.png';
import RgsGroup from '~/assets/images/RgsGroup.png';
import PircasQuilapilun from '~/assets/images/PircasQuilapilun.png';

import FondoVideo from "~/layouts/FondoVideo.astro";



const metadata = {
  title: 'Creación de Páginas Web Personalizadas - Neighbour Technology',
  ignoreTitleTemplate: true

};

const properties = [
  {
    title: "Mallorca Hogar",
    location: "Chile",
    description: "E-commerce especializado en muebles y decoración para el hogar. Diseño elegante y navegación intuitiva para una mejor experiencia de usuario.",
    imageUrl: MallorcaHogar, // Coloca una imagen de vista previa adecuada aquí
    rating: "4.7",
    link: "https://mallorcahogar.neighbour.cl/",
  },
  {
    title: "Alo Abogado",
    location: "Chile",
    description: "Portal de asesoría legal online. Los usuarios pueden agendar consultas y acceder a soluciones jurídicas rápidas y efectivas.",
    imageUrl: AloAbogados, // Coloca una imagen de vista previa adecuada aquí
    rating: "4.6",
    link: "https://aloabogado.neighbour.cl/",
  },
  {
    title: "Pircas de Quilapilún",
    location: "Chile",
    description: "Carta QR de un restaurante en la zona de Quilapilún, destacando la belleza natural y las comodidades del proyecto.",
    imageUrl: PircasQuilapilun, // Coloca una imagen de vista previa adecuada aquí
    rating: "4.8",
    link: "https://pircas-de-quilapilun.vercel.app/",
  },
  {
    title: "Asesoría y Defensa de Deudas",
    location: "Chile",
    description: "Servicios especializados en asesoría financiera y defensa contra deudas. Ofrece asistencia personalizada a clientes con problemas financieros.",
    imageUrl: AsesoriaDefensaDeudas, // Coloca una imagen de vista previa adecuada aquí
    rating: "4.9",
    link: "https://asesoriaydefensadeudas.cl/",
  },
  {
    title: "Sun Energy Green",
    location: "Chile",
    description: "Empresa enfocada en soluciones energéticas sostenibles, especializada en la instalación de paneles solares y tecnologías limpias.",
    imageUrl: SunEnergyGreen, // Coloca una imagen de vista previa adecuada aquí
    rating: "5.0",
    link: "https://sunenergygreen.cl/",
  },
  {
    title: "Patagonia Insular",
    location: "Chile",
    description: "Portal inmobiliario con propiedades exclusivas en la región de la Patagonia, ofreciendo acceso a tierras vírgenes y proyectos ecológicos.",
    imageUrl: PatagoniaInsular, // Coloca una imagen de vista previa adecuada aquí
    rating: "4.7",
    link: "https://realestate.neighbour.cl/",
  },
  {
    title: "Herederos",
    location: "Chile",
    description: "Plataforma dedicada a la gestión de herencias y sucesiones, ofreciendo asesoría legal y financiera a familias y empresas.",
    imageUrl: Herederos, // Coloca una imagen de vista previa adecuada aquí
    rating: "4.5",
    link: "https://herederos.neighbour.cl/",
  },
  {
    title: "Mundo Pacífico",
    location: "Chile",
    description: "Portal web de una compañía de telecomunicaciones líder en Chile, ofreciendo servicios de internet, telefonía y televisión.",
    imageUrl: MundoPacifico, // Coloca una imagen de vista previa adecuada aquí
    rating: "4.6",
    link: "https://mundopacifico.neighbour.cl/",
  },
  {
    title: "WOM",
    location: "Chile",
    description: "Portal corporativo de WOM, una de las compañías de telecomunicaciones más importantes de Chile, especializada en servicios de telefonía móvil.",
    imageUrl: Wom, // Coloca una imagen de vista previa adecuada aquí
    rating: "4.8",
    link: "https://wom.neighbour.cl/",
  },
  {
    title: "TrustMarket",
    location: "Chile",
    description: "E-commerce especializado en productos tecnológicos, ofreciendo una amplia variedad de dispositivos con envío a todo el país.",
    imageUrl: TrustMarket, // Coloca una imagen de vista previa adecuada aquí
    rating: "4.7",
    link: "https://trustmarket.neighbour.cl/",
  },
  {
    title: "Punto MX",
    location: "Chile",
    description: "Asistente de reservas de una Restorante mexicano con estrategia de ventas por medio de ofertas generadas por inteligencia artificial.",
    imageUrl: PuntoMX, // Coloca una imagen de vista previa adecuada aquí
    rating: "4.6",
    link: "https://puntomx.neighbour.cl/",
  },
  {
    title: "Fundación Voz Pública",
    location: "Chile",
    description: "Plataforma de una fundación que trabaja en iniciativas para promover la participación ciudadana y la transparencia en el gobierno.",
    imageUrl: VozPublica, // Coloca una imagen de vista previa adecuada aquí
    rating: "4.9",
    link: "https://vozpublica.neighbour.cl/",
  },
  {
    title: "DP y Asociados",
    location: "Chile",
    description: "Empresa de consultoría legal y financiera, ofreciendo servicios especializados en la gestión de patrimonios y asesoría corporativa.",
    imageUrl: DPyAsociados, // Coloca una imagen de vista previa adecuada aquí
    rating: "4.8",
    link: "https://dpyasociados.neighbour.cl/",
  },
  {
    title: "Grudinor",
    location: "Chile",
    description: "Plataforma web para una compañía que se dedica a la importación y distribución de productos industriales en Chile.",
    imageUrl: Grudinor, // Coloca una imagen de vista previa adecuada aquí
    rating: "4.6",
    link: "https://grudinor.neighbour.cl/",
  },
  {
    title: "RGS Group",
    location: "Chile",
    description: "Página corporativa de una empresa dedicada a la gestión y administración de proyectos de infraestructura en Chile.",
    imageUrl: RgsGroup, // Coloca una imagen de vista previa adecuada aquí
    rating: "4.7",
    link: "https://rgsgroup.cl/",
  },
];

---
<FondoVideo src="/videos/escritorio.mp4" />

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Páginas Web que Impulsan tu Negocio"
    title="Diseño y desarrollo de páginas web personalizadas"
    subtitle="Creamos sitios web a medida que reflejan tu marca y atraen clientes, optimizando la experiencia de usuario en todos los dispositivos."
    image={{
      src: HeroImagen,
      alt: 'Páginas web personalizadas',
    }}
    >
    <Fragment slot="boton">
      <Button variant="formulario" text="Cotiza tu Proyecto"/>
      <Button variant='whatsapp' text='Contacta a un Asesor' phone='56963238857'/>
    </Fragment>
  </Hero2>

   <!-- Features2 Widget ************** -->

  <Features2
    title="Quiénes Somos"
    subtitle="Con una trayectoria en diseño y desarrollo web, ofrecemos soluciones que combinan estética y funcionalidad. Nos enfocamos en crear páginas que no solo atraigan a tus clientes, sino que también generen conversiones y resultados reales."
  >
    <Fragment slot="bg">
      <div class="f2-tag absolute inset-0 dark:bg-dark dark:bg-opacity-70"></div>
    </Fragment-->
  </Features2>
 

 <!-- Stats Widget ****************** -->
  <Stats
    classes={{
      container: 'stat-container bg-dark bg-opacity-70 my-10',
    }}
    title="Estadísticas de Neighbour Technology"
    stats={[
      { title: 'Clientes Satisfechos', amount: '250',symbol:'+'},
      { title: 'Proyectos Completados', amount: '600',symbol:'+'},
      { title: 'Años de Experiencia', amount: '8',symbol:'+'},
      { title: 'Expertos en Tecnología', amount: '30',symbol:'+'},
    ]}
  />

 <!-- Features Widget *************** -->
 <Features
  id="features"
  title="Características de Nuestras Páginas Web"
  subtitle="Nuestras soluciones están diseñadas para ofrecer una experiencia excepcional tanto a los visitantes como a los propietarios del sitio."
  columns={3}
  items={[
    {
      title: 'Diseño Moderno y Responsivo',
      description:
        'Creamos diseños modernos que se adaptan a cualquier dispositivo, asegurando que tu página se vea increíble en móviles, tablets y desktops.',
      icon: 'tabler:device-mobile-message',
    },
    {
      title: 'Optimización SEO',
      description:
        'Nuestras páginas están optimizadas para motores de búsqueda, lo que te ayudará a aparecer en los primeros resultados y atraer tráfico orgánico.',
      icon: 'tabler:search',
    },
    {
      title: 'Integración con Redes Sociales',
      description:
        'Conectamos tu página web con tus redes sociales para una presencia digital completa y coherente.',
      icon: 'tabler:brand-facebook',
    },
    {
      title: 'Gestión de Contenidos Fácil',
      description: 
        'Desarrollamos páginas fáciles de administrar con sistemas de gestión de contenido que te permiten hacer cambios sin complicaciones.',
      icon: 'tabler:file-text',
    },
    {
      title: 'Velocidad y Seguridad',
      description: 
        'Garantizamos tiempos de carga rápidos y seguridad robusta para proteger tu sitio y la información de tus usuarios.',
      icon: 'tabler:shield-check',
    },
    {
      title: 'Soporte Técnico',
      description:
        'Te ofrecemos soporte continuo para que puedas estar tranquilo sabiendo que tu sitio siempre estará en las mejores condiciones.',
      icon: 'tabler:headset',
    },
  ]}
/>

<Prices
    title="Nuestros Planes"
    subtitle="Elige el plan que mejor se ajuste a tu negocio"
    prices={[
      {
        title: 'Básico',
        subtitle: 'Ideal para pequeñas empresas o sitios personales',
        price: '357.000',
        period: 'desde',
        items: [
          {
            description: 'Diseño web personalizado',
          },
          {
            description: 'Hasta 5 páginas',
          },
          {
            description: 'Optimización básica de SEO',
          },
          {
            description: 'Compatibilidad con dispositivos móviles',
          },
          {
            description: 'Formulario de contacto',
          },
        ],
        callToAction: {
          target: '',
          text: 'Empezar',
          href: '#',
        },
      },
      {
        title: 'Estándar',
        subtitle: 'Perfecto para negocios en crecimiento',
        price: '515.000',
        period: 'desde',
        items: [
          {
            description: 'Diseño web personalizado avanzado',
          },
          {
            description: 'Hasta 10 páginas',
          },
          {
            description: 'Optimización avanzada de SEO',
          },
          {
            description: 'Integración con redes sociales',
          },
          {
            description: 'Formulario de contacto y blog',
          },
          {
            description: 'Analíticas de seguimiento web',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Empezar',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'Más Popular',
      },
      {
        title: 'Premium',
        subtitle: 'La mejor opción para empresas consolidadas',
        price: '859.000',
        period: 'desde',
        items: [
          {
            description: 'Diseño web totalmente personalizado',
          },
          {
            description: 'Páginas ilimitadas',
          },
          {
            description: 'Optimización SEO profesional',
          },
          {
            description: 'Integración con CRM',
          },
          {
            description: 'Analíticas de seguimiento web avanzadas',
          },
          {
            description: 'Soporte técnico prioritario',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Empezar',
          href: '#',
        },
      },
    ]}
/>




<CallToAction
  actions={[
    {
      variant: 'primary',
      target: '_blank',
      text: 'Solicita tu página web',
      href: 'https://wa.me/56963238857?text=Quiero%20solicitar%20una%20página%20web%20personalizada',
      icon: 'tabler:message-circle',
    },
  ]}
>
  <Fragment slot="title">Transforma tu presencia online</Fragment>

  <Fragment slot="subtitle">
    Nuestras páginas web personalizadas están diseñadas para atraer, convertir y retener a tus clientes. ¡Contáctanos hoy para empezar!
  </Fragment>
  <Fragment slot="boton">
    <Button variant="primary" class="open-modal-btn">
      Cotiza tu Pagina Web
    </Button>
    
  </Fragment>
</CallToAction>



<div class="max-w-7xl mx-auto">
  <Headline title="Nuestro Portafolio" subtitle="Conoce algunos de nuestros proyectos destacados" tagline="Nuestras Páginas Web" />

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-3">
    {properties.map((property) => (
      <Card {...property} />
    ))}
  </div>
</div>


<FAQs
title="Preguntas Frecuentes"
items={[
  {
    title: '¿Cuánto tiempo toma desarrollar una página web?',
    description:
      'El tiempo varía según la complejidad de tu sitio, pero generalmente podemos entregar un sitio funcional en un plazo de 4 a 6 semanas.',
  },
  {
    title: '¿Ofrecen planes de mantenimiento?',
    description:
      'Sí, ofrecemos mantenimiento continuo para garantizar que tu página siga funcionando de manera óptima, incluyendo actualizaciones de seguridad y mejoras de rendimiento.',
  },
  {
    title: '¿Puedo actualizar el contenido de mi sitio web?',
    description:
      'Sí, diseñamos páginas con sistemas de gestión de contenidos fáciles de usar, para que puedas actualizar textos, imágenes y productos cuando lo necesites.',
  },
  {
    title: '¿Mi página será optimizada para motores de búsqueda (SEO)?',
    description:
      'Absolutamente. Todas nuestras páginas web están construidas siguiendo las mejores prácticas de SEO para que aparezcas mejor posicionado en los motores de búsqueda.',
  },
]}
/>

</Layout>
