---
// Importa el video de fondo
//import videoBackground from '/videos/hero.webm'; // Asegúrate de tener el video en la ruta correcta
import Button from '../ui/Button.astro';
---

<div class="relative w-full h-screen overflow-hidden  ">
  <!-- Video de fondo -->

  <video autoplay muted loop playsinline class="absolute inset-0 object-cover w-full h-full z-0">
    <source src="/videos/hero.webm" type="video/webm" />

    Tu navegador no soporta videos.
  </video>
 

  <!-- Contenedor del contenido -->
  <div class="relative flex flex-col justify-center items-center h-full text-white text-center p-10 z-10 entry-effect-2 bg-cover bg-center" >
    <h1 class="text-5xl font-bold mb-4 drop-shadow-lg animate__animated animate__fadeInDown">
      Innovación y Tecnología para Tu Éxito
    </h1>
    <p class="text-xl mb-6 drop-shadow-md max-w-3xl animate__animated animate__fadeInUp">
      Descubre cómo nuestras soluciones avanzadas pueden transformar tu negocio y llevarlo al siguiente nivel.
    </p>
    
    <!-- Botones -->
    <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
      <Button variant='formulario' text='Empieza Ahora'>
      </Button>

      <Button
      variant="whatsapp" 
      text="Contacta a un Asesor"
      phone="56963238857"/>
    </div>
  </div>
</div>
