---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/LandingLayoutProduct.astro';
import ErpHeroImagen from '~/assets/images/erp_hero3.png';
import ErpStockImagen from '~/assets/images/erp_stock2.png';
import ErpPuntoVentaImagen from '~/assets/images/erp_punto_venta3.png';
import ErpProductosImagen from '~/assets/images/erp_productos2.png';

// Obtener la URL base dependiendo del entorno
let baseURL = 'https://erp.neighbour.cl/';
if (typeof window !== 'undefined') {
  const currentURL = window.location.href;
  if (currentURL.includes('localhost')) {
    baseURL = 'http://127.0.0.1:8000/';
  }
}
  const registerURL = `${baseURL}register?app=erp`;

const metadata = {
  title: 'ERP a la Medida  - Neighbour Technology',
  ignoreTitleTemplate: true
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  
  <Hero2
    tagline="ERP Personalizado para tu Negocio"
    title="Controla cada aspecto de tu negocio con nuestro ERP a la medida"
    subtitle="Gestión total de tu empresa con funcionalidades avanzadas como punto de venta, control de stock, ticketera, agenda de horas, gestor de contenido y cartas QR."
    actions={[{ variant: 'formulario', target: '_blank', text: 'Solicita una demo', href: registerURL }]}
    image={{
      src: ErpHeroImagen,
      alt: 'ERP Hero Image',
    }}
  />
    
  <!-- Features2 Widget ************** -->

  <Features2
    title="Características del ERP a la Medida"
    subtitle="Nuestro ERP está diseñado para ofrecerte todas las herramientas que necesitas para gestionar tu negocio desde un solo lugar."
    columns={3}
    items={[
      {
        title: 'Punto de Venta (POS)',
        description:
          'Gestión eficiente de ventas con herramientas y múltiples formas de pago. Ideal para cualquier tipo de comercio.',
        icon: 'tabler:cash-register',
      },
      {
        title: 'Control de Stock',
        description:
          'Monitorea tus inventarios en tiempo real, controla el stock disponible y genera alertas automáticas cuando los productos lleguen a niveles mínimos.',
        icon: 'tabler:box',
      },
     
      {
        title: 'Inventario de Productos',
        description:
          'Gestiona tu catálogo de productos de manera eficiente, incluyendo precios, categorías, variantes y características. Mantén tu inventario organizado y actualizado.',
        icon: 'tabler:edit',
      },
     
    ]}
  />

  <!-- Content Widget - Punto de Venta **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Punto de Venta (POS)',
        description:
          'Nuestro sistema POS está diseñado para facilitar tus ventas, con un flujo rápido de pagos y generación de tickets.',
        icon: 'tabler:shopping-cart',
      },
    ]}
    image={{
      src: ErpPuntoVentaImagen ,
      alt: 'Punto de Venta Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Punto de Venta (POS)</h3>
    </Fragment>
  </Content>

  <!-- Content Widget - Control de Stock **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Control de Stock',
        description:
          'Controla tus inventarios en tiempo real y mantén siempre tu negocio abastecido. Nuestro sistema de control de stock te alertará cuando los productos necesiten ser reabastecidos.',
        icon: 'tabler:box',
      },
    ]}
    image={{
      src: ErpStockImagen,
      alt: 'Control de Stock Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Control de Stock</h3>
    </Fragment>
  </Content>

  <!-- Content Widget - Agenda de Horas **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Inventario de Productos',
        description:
          'Este módulo permite agregar y administrar los productos de tu punto de venta de manera eficiente, facilitando el control del inventario y optimizando la gestión de stock.',
        icon: 'tabler:clock',
      },
    ]}
    image={{
      src: ErpProductosImagen,
      alt: 'Inventario de productos Image',
      style: {
        objectFit: 'contain', // Asegura que la imagen no se recorte
        width: '100%',        // Ajusta el ancho a 100% del contenedor
        height: 'auto',       // Mantiene la relación de aspecto
      },
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Inventario de Productos</h3>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Solicita más información',
        href: 'https://erp.neighbour.cl/',
      },
    ]}
    title="Descubre cómo nuestro ERP puede transformar tu negocio"
    subtitle="Gestiona cada aspecto de tu negocio desde un solo lugar con nuestro ERP personalizado y optimizado para tu industria."
  />
</Layout>
