---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

import image2 from '~/assets/images/FENIX_contact_center.png';


const metadata = {
  title: 'Sobre Nosotros - Neighbour Technology SpA',
};
---

<style>
  .bg-fondo {
    background-image: url('/src/assets/images/tex5.jpg'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }
</style>


<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <div class="bg-fondo">
    <Hero
      tagline="Sobre Nosotros"
      image={{
        src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'Caos Image',
      }}
    >
      <Fragment slot="title">
        Potencia tu presencia en línea con nuestras <br />
        <span class="text-accent dark:text-white highlight"> Soluciones Tecnológicas Innovadoras</span>
      </Fragment>

      <Fragment slot="subtitle">
        Neighbour Technology SpA es una empresa líder en soluciones tecnológicas, especializada en el desarrollo de aplicaciones y sistemas de información. Nos destacamos por nuestra metodología centrada en la mejora continua, la sinergia y la creatividad colaborativa.
      </Fragment>
    </Hero>
  </div>
  
  <!-- Stats Widget ****************** -->
  <Stats
    title="Estadísticas de Neighbour Technology"
    stats={[
      { title: 'Clientes Satisfechos', amount: '500+' },
      { title: 'Proyectos Completados', amount: '1200+' },
      { title: 'Años de Experiencia', amount: '10+' },
      { title: 'Expertos en Tecnología', amount: '50+' },
    ]}
  />

  <!-- Features3 Widget ************** -->


  
  <Features3
    title="Nuestros Servicios"
    subtitle="Ofrecemos una amplia gama de servicios tecnológicos para satisfacer las necesidades de nuestros clientes."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Mantenimiento y Reparación de Hardware',
        description:
          'Mantenimiento preventivo, reparaciones, actualizaciones, gestión de inventario y optimización de recursos.',
        icon: 'tabler:tool',
      },
      {
        title: 'Desarrollo de Software y Sistemas Informáticos',
        description:
          'Desarrollos web, intranet, sistemas de inventario, plataformas e-commerce, control documental y automatización de procesos.',
        icon: 'tabler:code',
      },
      {
        title: 'Outsourcing de Especialistas de Tecnología',
        description:
          'BackOffice, analista de datos, soporte técnico, desarrolladores, gestión de redes y consultoría TI.',
        icon: 'tabler:users',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->
  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'CRM Fénix Contact Center Suite',
        description:
          'Solución multicanal para mejorar la eficiencia, satisfacción del cliente y resultados empresariales.',
        icon: 'tabler:template',
      },
      {
        title: 'Marketing Digital',
        description:
          'Campañas de generación de LEADS, Landing Pages y chatbots con análisis en tiempo real.',
        icon: 'tabler:template',
      },
      {
        title: 'Data Center',
        description:
          'Infraestructura de vanguardia, conectividad ultrarrápida, y servicios de nube confiables.',
        icon: 'tabler:template',
      },
      {
        title: 'Servicios TELCO',
        description:
          'Soluciones integrales de telecomunicaciones con telefonía IP y SMS eficientes.',
        icon: 'tabler:template',
      },
      {
        title: 'Expertos en VICIdial y Asterisk',
        description:
          'Optimización de comunicaciones con soluciones líderes en telefonía IP.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->
  <div class="bg-fondo">
    <Steps2
      title="Nuestros Valores"
      subtitle="En Neighbour Technology SpA, nos guiamos por los siguientes principios fundamentales."
      items={[
        {
          title: 'Enfoque centrado en el cliente',
          description:
            'Nos esforzamos por comprender y satisfacer las necesidades de nuestros clientes.',
        },
        {
          title: 'Mejora constante',
          description:
            'Siempre buscamos formas de mejorar nuestros servicios y procesos.',
        },
        {
          title: 'Prácticas éticas',
          description:
            'Mantenemos un alto estándar de integridad y responsabilidad en todas nuestras operaciones.',
        },
      ]}
    />

    <!-- Steps2 Widget ****************** -->
    <Steps2
      title="Logros"
      subtitle="Nos enorgullece haber alcanzado estos hitos clave."
      isReversed={true}
      callToAction={{
        text: 'Ver más',
        href: '/',
      }}
      items={[
        {
          title: 'Alcance global',
          description: 'Hemos ampliado nuestras operaciones a múltiples países y continentes.',
          icon: 'tabler:globe',
        },
        {
          title: 'Comentarios positivos de clientes',
          description:
            'Nuestros clientes valoran la calidad y eficacia de nuestros servicios.',
          icon: 'tabler:message-star',
        },
        {
          title: 'Premios y reconocimientos',
          description:
            'Hemos sido galardonados como expertos en la industria tecnológica.',
          icon: 'tabler:award',
        },
      ]}
    />

    <!-- Features2 Widget ************** -->
    <Features2
      title="Nuestras Ubicaciones"
      tagline="Encuéntranos en"
      columns={4}
      items={[
        {
          title: 'EE.UU',
          description: '1234 Lorem Ipsum St, 12345, Miami',
        },
        {
          title: 'España',
          description: '5678 Lorem Ipsum St, 56789, Madrid',
        },
        {
          title: 'Australia',
          description: '9012 Lorem Ipsum St, 90123, Sydney',
        },
        {
          title: 'Brasil',
          description: '3456 Lorem Ipsum St, 34567, São Paulo',
        },
      ]}
    />
  </div>
  
</Layout>
