---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contacto - Neighbour Technology',
  ignoreTitleTemplate: true
};
---

<style>
  .bg-mapa {
    background-image: url('/src/assets/images/Mapa.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }
</style>




<Layout metadata={metadata}>
  <HeroText tagline="Contacto" title="¡Conectémonos!" />

  <div class="relative bg-mapa">
    <!-- Capa semi-transparente -->
    <div class="absolute inset-0 bg-white dark:bg-slate-900 bg-opacity-50 dark:bg-opacity-50"></div>
    
    <!-- Contenido del div -->
    <div class="relative z-10">
      <ContactUs
        id="form"
        title="¡Envíanos un mensaje hoy mismo!"
        subtitle="Para respuestas más rápidas, explora nuestra sección de preguntas frecuentes. ¡Quizás encuentres la solución que buscas ahí! Si no, nuestro equipo de soporte estará encantado de ayudarte."
        inputs={[
          {
            type: 'text',
            name: 'name',
            label: 'Nombre',
          },
          {
            type: 'email',
            name: 'email',
            label: 'Correo Electrónico',
          },
        ]}
        textarea={{
          label: 'Mensaje',
        }}
        disclaimer={{
          label:
            'Al enviar este formulario de contacto, reconoces y aceptas la recopilación de tu información personal.',
        }}
        description="Nuestro equipo de soporte suele responder dentro de las 24 horas hábiles."
      />
  
      <Features2
        title="¡Estamos aquí para ayudarte!"
        items={[
          {
            title: 'Soporte general',
            description: `Chatea con nosotros para consultas relacionadas con la gestión de cuentas, navegación en el sitio web, problemas de pago o preguntas generales sobre el funcionamiento de nuestro sitio.`,
          },
          {
            title: 'Contacto ventas',
            description:
              'Chatea con nosotros para preguntas sobre compras, opciones de personalización, licencias para uso comercial, o consultas sobre productos específicos.',
          },
          {
            title: 'Soporte técnico',
            description:
              'Chatea con nosotros si tienes problemas de instalación, dificultades para editar, problemas de compatibilidad con software o errores de descarga, o cualquier desafío técnico relacionado con nuestros productos.',
          },
          {
            title: 'Teléfono',
            description: '+56 9 6323 8857',
            icon: 'tabler:headset',
          },
          {
            title: 'Correo electrónico',
            description: 'contacto@neighbour.cl',
            icon: 'tabler:mail',
          },
          {
            title: 'Ubicación',
            description: 'Av. Apoquindo 6410. Las Condes, Chile',
            icon: 'tabler:map-pin',
          },
        ]}
      />
    </div>
  </div>

  
</Layout>
