---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import HeroCarousel from '~/components/widgets/HeroCarousel.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Slider from '~/components/widgets/Slider.astro';
import image2 from '~/assets/images/FENIX_contact_center.png';
import ContactForm from '~/components/widgets/ContactForm.astro';
import Brands from '~/components/widgets/Brands.astro';
import Button from '~/components/ui/Button.astro';
import Santander from '~/assets/images/Santander.jpg';
import Regalariza from '~/assets/images/regalariza.jpg';
import MundoCreditos from '~/assets/images/Mundo_creditos.jpg';
import MarubeniCredit from '~/assets/images/Marubeni_credit.png';
import MAF from '~/assets/images/MAF.jpg';
import IACC from '~/assets/images/IACC.png';
import IPLACEX from '~/assets/images/IPLACEX.png';
import GrupoMok from '~/assets/images/grupo_mok.png';
import Falabella from '~/assets/images/fallabella.png';
import ClinicaLasCondes from '~/assets/images/Clinica-Las-Condes.jpg';
import ClinicaCordillera from '~/assets/images/clinica-cordillera.jpg';
import Clinica_U_de_los_andes from '~/assets/images/Clinica_U_de_los_andes.png';
import Bupa from '~/assets/images/Bupa.webp';
import Wom from '~/assets/images/Wom.webp';
import Cevsa from '~/assets/images/Cevsa.webp';
import Equifax from '~/assets/images/Equifax.webp';
import Hites from '~/assets/images/Hites.webp';
import Corona from '~/assets/images/Corona.webp';
import Ripley from '~/assets/images/Ripley.webp';
import Sura from '~/assets/images/Sura.webp';
import Cruz_Verde from '~/assets/images/Cruz_Verde.svg';
import Preunic from '~/assets/images/Preunic.webp';
import BCI from '~/assets/images/BCI.webp';
import Autofin from '~/assets/images/Autofin.webp';
import SoutBridge from '~/assets/images/SouthBridge.webp';
import Pango from '~/assets/images/Pango.webp';
import Consorcio from '~/assets/images/Consorcio.webp';
import Líder from '~/assets/images/Lider.webp';
import Claro from '~/assets/images/Claro.svg';
import SBPay from '~/assets/images/SBPay.webp';

const metadata = {
  title: 'Neighbour Technology — Soluciones Tecnológicas Innovadoras',
  ignoreTitleTemplate: true,
};
---
<Layout metadata={metadata}>
  <Slider class="relative overflow-hidden"></Slider>

  <Note />

  <!-- Features Widget *************** -->
  <Features
    id="features"
    tagline="Servicios"
    title="Lo que ofrecemos en Neighbour Technology"
    subtitle="Metodología centrada en la mejora continua, la sinergia y la creatividad colaborativa para optimizar recursos y crear herramientas digitales innovadoras."
    items={[
      {
        title: 'Mantenimiento y Reparación de Hardware',
        description:
          'Mantenimiento preventivo, reparaciones, actualizaciones, gestión de inventario y optimización de recursos.',
        icon: 'tabler:tool',
      },
      {
        title: 'Desarrollo de Software y Sistemas Informáticos',
        description:
          'Desarrollos web, intranet, sistemas de inventario, plataformas e-commerce, control documental y automatización de procesos.',
        icon: 'tabler:code',
      },
      {
        title: 'Outsourcing de Especialistas de Tecnología',
        description:
          'BackOffice, analista de datos, soporte técnico, desarrolladores, gestión de redes y consultoría TI.',
        icon: 'tabler:users',
      },
      {
        title: 'Data Center',
        description:
          'Infraestructura de vanguardia para garantizar la seguridad, fiabilidad y rendimiento de tus datos con servicios de hosting, correos corporativos y servidores.',
        icon: 'tabler:server',
      },
      {
        title: 'Servicios TELCO',
        description:
          'Soluciones integrales de telecomunicaciones con telefonía IP y SMS eficientes para potenciar la productividad empresarial.',
        icon: 'tabler:phone',
      },
      {
        title: 'Marketing Digital',
        description:
          'Campañas de generación de LEADS, landing pages con formatos audiovisuales, selección de canales de difusión y chatbots para flujos personalizados.',
        icon: 'tabler:chart-line',
      },
    ]}
  />

    <!-- Features2 Widget ************** -->
    <Features2
    id="Features2"
      classes={{
        headline: 'dark:bg-dark dark:bg-opacity-70 my-10',
      }}
      title="Otras Especialidades"
      subtitle="Expertos en Soluciones Tecnológicas"
      tagline="Especialidades"
      items={[
        {
          title: 'Experto en VICIdial',
          description: 'Accede a un centro de contacto completo con marcación predictiva y gestión de agentes.',
          icon: 'tabler:device-desktop',
        },
        {
          title: 'Experto en Asterisk',
          description: 'Integra voz en una plataforma escalable para optimizar tus comunicaciones.',
          icon: 'tabler:phone-call',
        },
        {
          title: 'Gestor Integral VICIdial - Asterisk',
          description: 'Gestión de acciones y reportes de manera efectiva para optimizar tus operaciones.',
          icon: 'tabler:report',
        },
      ]}>
        <Fragment slot="bg">
        <div class="absolute inset-0  "></div>
        </Fragment>
    </Features2>

    <!-- Stats Widget ****************** -->
    <div class="p-6">
      <Stats
        classes={{
          container: 'container bg-dark bg-opacity-70 ',
        }}
        stats={[
          { title: 'Clientes Satisfechos', amount: '500', symbol:'+' },
          { title: 'Proyectos Completados', amount: '1200', symbol:'+' },
          { title: 'Años de Experiencia', amount: '10', symbol:'+' },
          { title: 'Expertos en Tecnología', amount: '50', symbol:'+' },
        ]}
      />

      <Brands
      classes={{
        container: 'dark:bg-dark dark:bg-opacity-70 my-5',
      }}
      title="Instituciones que Confían en Neighbour Technology"
      subtitle="En Neighbour Technology, colaboramos con estas organizaciones para ofrecer soluciones tecnológicas a medida, mejorando su infraestructura y optimizando procesos."
      icons={[]}
      images={[
        {
          src: Santander.src,
          alt: 'Santander',
        },
        {
          src: Regalariza.src,
          alt: 'Regalariza',
        },
        {
          src: MundoCreditos.src,
          alt: 'MundoCreditos',
        },
        {
          src: MarubeniCredit.src,
          alt: 'MarubeniCredit',
        },
        {
          src: MAF.src,
          alt: 'MAF',
        },
        {
          src: IACC.src,
          alt: 'IACC',
        },
        {
          src: IPLACEX.src,
          alt: 'IPLACEX',
        },
        {
          src: GrupoMok.src,
          alt: 'GrupoMok',
        },
        {
          src: Falabella.src,
          alt: 'Falabella',
        },
        {
          src: ClinicaLasCondes.src,
          alt: 'ClinicaLasCondes',
        },
        {
          src: ClinicaCordillera.src,
          alt: 'ClinicaCordillera',
        },
        {
          src: Clinica_U_de_los_andes.src,
          alt: 'Clinica_U_de_los_andes',
        },
        {
          src: Bupa.src,
          alt: 'Bupa',
        },
        {
          src: Wom.src,
          alt: 'Wom',
        },
        {
          src: Cevsa.src,
          alt: 'Cevsa',
        },
        {
          src: Equifax.src,
          alt: 'Equifax',
        },
        {
          src: Hites.src,
          alt: 'Hites',
        },
        {
          src: Corona.src,
          alt: 'Corona',
        },
        {
          src: Ripley.src,
          alt: 'Ripley',
        },
        {
          src: Sura.src,
          alt: 'Sura',
        },
        {
          src: Cruz_Verde.src,
          alt: 'Cruz_Verde',
        },
        {
          src: Preunic.src,
          alt: 'Preunic',
        },
        {
          src: BCI.src,
          alt: 'BCI',
        },
        {
          src: Autofin.src,
          alt: 'Autofin',
        },
        {
          src: SoutBridge.src,
          alt: 'SoutBridge',
        },
        {
          src: Pango.src,
          alt: 'Pango',
        },
        {
          src: Consorcio.src,
          alt: 'Consorcio',
        },
        {
          src: Líder.src,
          alt: 'Líder',
        },
        {
          src: Claro.src,
          alt: 'Claro',
        },
        {
          src: SBPay.src,
          alt: 'SBPay',
        },
      ]}
    />
    </div>

    <!-- CallToAction Widget *********** -->
    <div class="px-6">
    <CallToAction
      actions={[
        {
          variant: 'primary',
          text: 'Solicita más información',
          href: 'mailto:admintrador@neighbour.cl',
          icon: 'tabler:mail',
        },
      ]}
    >
      <Fragment slot="title">
        ¡Potencia tu Negocio con <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Neighbour Technology!</span>
      </Fragment>

      <Fragment slot="subtitle">
        Contacta con nosotros para más información sobre nuestros servicios y soluciones tecnológicas.
      </Fragment>

      <Fragment slot="boton">
        <Button variant="whatsapp" text="Cotiza tu Proyecto" phone="5696238857" / >
      </Fragment>

      
    </CallToAction>
  </div>

  </Layout>
