---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import HeroCarousel from '~/components/widgets/HeroCarousel.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Slider from '~/components/widgets/Slider.astro';

import image2 from '~/assets/images/FENIX_contact_center.png';


const metadata = {
  title: 'Neighbour Technology SpA — Soluciones Tecnológicas Innovadoras',
  ignoreTitleTemplate: true,
};
---

<style>
  .bg-fondo {
    background-image: url('/src/assets/images/tex5.jpg'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }
</style>



<Layout metadata={metadata}>
  <!----HeroCarousel />----->
  <Slider />



  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Servicios"
    title="Lo que ofrecemos en Neighbour Technology"
    subtitle="Metodología centrada en la mejora continua, la sinergia y la creatividad colaborativa para optimizar recursos y crear herramientas digitales innovadoras."
    items={[
      {
        title: 'Mantenimiento y Reparación de Hardware',
        description:
          'Mantenimiento preventivo, reparaciones, actualizaciones, gestión de inventario y optimización de recursos.',
        icon: 'tabler:tool',
      },
      {
        title: 'Desarrollo de Software y Sistemas Informáticos',
        description:
          'Desarrollos web, intranet, sistemas de inventario, plataformas e-commerce, control documental y automatización de procesos.',
        icon: 'tabler:code',
      },
      {
        title: 'Outsourcing de Especialistas de Tecnología',
        description:
          'BackOffice, analista de datos, soporte técnico, desarrolladores, gestión de redes y consultoría TI.',
        icon: 'tabler:users',
      },
      {
        title: 'Data Center',
        description:
          'Infraestructura de vanguardia para garantizar la seguridad, fiabilidad y rendimiento de tus datos con servicios de hosting, correos corporativos y servidores.',
        icon: 'tabler:server',
      },
      {
        title: 'Servicios TELCO',
        description:
          'Soluciones integrales de telecomunicaciones con telefonía IP y SMS eficientes para potenciar la productividad empresarial.',
        icon: 'tabler:phone',
      },
      {
        title: 'Marketing Digital',
        description:
          'Campañas de generación de LEADS, landing pages con formatos audiovisuales, selección de canales de difusión y chatbots para flujos personalizados.',
        icon: 'tabler:chart-line',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <!----<Content
    isReversed
    tagline="Soluciones Tecnológicas"
    title="CRM Fénix Contact Center Suite"
    items={[
      {
        title: 'Central Telefónica',
        description: 'Discadores, teléfono web incluido, agendas e historiales, IVRs, envío de SMS y correo electrónico.',
      },
      {
        title: 'Integraciones',
        description:
          'Integraciones con ChatBots, WhatsApp, y más para mejorar la eficiencia y la satisfacción del cliente.',
      },
    ]}
    image={{
      src: '~/assets/images/logo_fenix.png',
      alt: 'CRM Fénix Contact Center Suite',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Eficiencia y Satisfacción del Cliente</h3>
      Descubre nuestra solución multicanal respaldada por tecnología de vanguardia, diseñada para mejorar la eficiencia y los resultados empresariales.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <div class="relative m-auto max-w-5xl p-16">
    <img src={image2?.src} alt="tex5" class="mx-auto rounded-md w-full" />
  </div>---->


<div class="bg-fondo">
    <!-- Features2 Widget ************** -->

    <Features2
    title="Otras Especialidades"
    subtitle="Expertos en Soluciones Tecnológicas"
    tagline="Especialidades"
    items={[
      {
        title: 'Experto en VICIdial',
        description: 'Accede a un centro de contacto completo con marcación predictiva y gestión de agentes.',
        icon: 'tabler:device-desktop',
      },
      {
        title: 'Experto en Asterisk',
        description: 'Integra voz en una plataforma escalable para optimizar tus comunicaciones.',
        icon: 'tabler:phone-call',
      },
      {
        title: 'Gestor Integral VICIdial – Asterisk',
        description: 'Gestión de acciones y reportes de manera efectiva para optimizar tus operaciones.',
        icon: 'tabler:report',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 "></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->
  <div class="bg-blue-50 dark:bg-dark p-6 my-8">
    <Stats
      stats={[
        { title: 'Clientes Satisfechos', amount: '500+' },
        { title: 'Proyectos Completados', amount: '1200+' },
        { title: 'Años de Experiencia', amount: '10+' },
        { title: 'Expertos en Tecnología', amount: '50+' },
      ]}
    />
  </div>
  

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Solicita más información',
        href: 'mailto:admintrador@neighbour.cl',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      ¡Potencia tu Negocio con <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Neighbour Technology SpA!</span>
    </Fragment>

    <Fragment slot="subtitle">
      Contacta con nosotros para más información sobre nuestros servicios y soluciones tecnológicas.
    </Fragment>
  </CallToAction>

</div>

</Layout>
