---
interface Props {
  src: string;
  type?: string;
}

const { src, type = "video/mp4" } = Astro.props;

// Verificar si el archivo es un video (ej: .mp4, .webm)
const isVideo = src.endsWith(".mp4") || src.endsWith(".webm");
---

<style>
  .media-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }

  .media-fondo video,
  .media-fondo img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
</style>

<div class="media-fondo">
  {isVideo ? (
    <video autoplay muted loop playsinline>
      <source src={src} type={type} />
      Tu navegador no soporta el elemento de video.
    </video>
  ) : (
    <img src={src} alt="Fondo" />
  )}
</div>
