---
interface Props {
  src: string;
  type?: string;
}

const { src, type = "video/mp4" } = Astro.props;
---

<style>
  .video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }

  .video-fondo video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
</style>

<div class="video-fondo">
  <video autoplay muted loop playsinline>
      <source src={src} type={type} />
      Tu navegador no soporta el elemento de video.
  </video>
</div>